@import "tailwindcss";

@plugin "daisyui" {
  themes: dark, light, cyberpunk, valentine, synthwave, coffee, pastel, forest, retro, aqua, valentine, retro;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin-once {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@layer utilities{
  .hover\:animate-spin-once:hover {
    animation: spin-once 0.5s linear forwards;
  }

  .animate-fade-in{
    animation: fadeIn 3s ease-out forwards;
  }
}

html, body{
  height: 100%;
  width: 100%;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

#root{
  padding: 0 !important;
  height: 100%;
  width: 100%;
}